[plugins]
plumeria.plugins.message_ops = True
plumeria.plugins.figlet = True
plumeria.plugins.string = True
plumeria.plugins.webserver = True
plumeria.plugins.memetext = True
plumeria.plugins.imdb = True
plumeria.plugins.gravatar = True
plumeria.plugins.uuid = True
plumeria.plugins.imagedownload = True
plumeria.plugins.time = True
plumeria.plugins.help = True
plumeria.plugins.echo = True
plumeria.plugins.steamid = True
plumeria.plugins.uptime = True
plumeria.plugins.resistors = True
plumeria.plugins.cheapshark = True
plumeria.plugins.spotify = True
plumeria.plugins.urban_dictionary = True
plumeria.plugins.reload = True
plumeria.plugins.last = True
plumeria.plugins.discord_transport = True
plumeria.plugins.unicode = True
plumeria.plugins.qrcode = True
plumeria.plugins.random_user = True
plumeria.plugins.roll = True
plumeria.plugins.reddit = True
plumeria.plugins.discord = True
plumeria.plugins.stats = True
plumeria.plugins.xkcd = True
plumeria.plugins.graph = True
plumeria.plugins.image = True
plumeria.plugins.duckduckgo = True
plumeria.plugins.strawpoll = True

