aiohttp>=0.22.5,<1.1.0
aiomysql>=0.0.9
aiounfurl==0.2.4
beautifulsoup4>=4
cachetools>=2.0.0
colour>=0.1.2
coloredlogs>=5.1
commonmark>=0.7.2
dice>=1.0.2
discord.py==0.16.9
docutils>=0.12
html2text>=2016.5.29
html5lib==0.999999999
IPy>=0.83
Jinja2>=2.8
lxml>=3.6
Pillow>=3.1
psutil>=4.3.1
pycountry>=1.20
pydot>=1.2.2
pyfiglet>=0.7.4
pylru>=1.0.9
pyparsing>=2.1.8
pytest>=3.0
python-dateutil>=2.5.3
python-valve>=0.1.1
pytz>=2016.6.1
qrcode>=5.2.2
rethinkdb>=2.3.0.post5
selenium>=2.53
matplotlib>=2.0.0b3
numpy>=1.11
scipy>=0.18
titlecase>=0.8.1
